<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javaee6.cgret.dao.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.javaee6.cgret.model.Client" >
    <id column="client_id" property="clientId" jdbcType="BIGINT" />
    <result column="client_name" property="clientName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="article_code" property="articleCode" jdbcType="VARCHAR" />
    <result column="haed_url" property="haedUrl" jdbcType="VARCHAR" />
    <result column="def_address_id" property="defAddressId" jdbcType="BIGINT" />
    <result column="def_address" property="defAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    client_id, client_name, password, email, telephone, create_time, article_code, haed_url, 
    def_address_id, def_address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.javaee6.cgret.model.ClientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from client
    where client_id = #{clientId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from client
    where client_id = #{clientId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.javaee6.cgret.model.ClientExample" >
    delete from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.javaee6.cgret.model.Client" >
    insert into client (client_id, client_name, password, 
      email, telephone, create_time, 
      article_code, haed_url, def_address_id, 
      def_address)
    values (#{clientId,jdbcType=BIGINT}, #{clientName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{telephone,jdbcType=BIGINT}, #{createTime,jdbcType=DATE}, 
      #{articleCode,jdbcType=VARCHAR}, #{haedUrl,jdbcType=VARCHAR}, #{defAddressId,jdbcType=BIGINT}, 
      #{defAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javaee6.cgret.model.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="clientName != null" >
        client_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="articleCode != null" >
        article_code,
      </if>
      <if test="haedUrl != null" >
        haed_url,
      </if>
      <if test="defAddressId != null" >
        def_address_id,
      </if>
      <if test="defAddress != null" >
        def_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        #{clientId,jdbcType=BIGINT},
      </if>
      <if test="clientName != null" >
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="articleCode != null" >
        #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="haedUrl != null" >
        #{haedUrl,jdbcType=VARCHAR},
      </if>
      <if test="defAddressId != null" >
        #{defAddressId,jdbcType=BIGINT},
      </if>
      <if test="defAddress != null" >
        #{defAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.javaee6.cgret.model.ClientExample" resultType="java.lang.Integer" >
    select count(*) from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client
    <set >
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=BIGINT},
      </if>
      <if test="record.clientName != null" >
        client_name = #{record.clientName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.articleCode != null" >
        article_code = #{record.articleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.haedUrl != null" >
        haed_url = #{record.haedUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.defAddressId != null" >
        def_address_id = #{record.defAddressId,jdbcType=BIGINT},
      </if>
      <if test="record.defAddress != null" >
        def_address = #{record.defAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client
    set client_id = #{record.clientId,jdbcType=BIGINT},
      client_name = #{record.clientName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=DATE},
      article_code = #{record.articleCode,jdbcType=VARCHAR},
      haed_url = #{record.haedUrl,jdbcType=VARCHAR},
      def_address_id = #{record.defAddressId,jdbcType=BIGINT},
      def_address = #{record.defAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaee6.cgret.model.Client" >
    update client
    <set >
      <if test="clientName != null" >
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="articleCode != null" >
        article_code = #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="haedUrl != null" >
        haed_url = #{haedUrl,jdbcType=VARCHAR},
      </if>
      <if test="defAddressId != null" >
        def_address_id = #{defAddressId,jdbcType=BIGINT},
      </if>
      <if test="defAddress != null" >
        def_address = #{defAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where client_id = #{clientId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaee6.cgret.model.Client" >
    update client
    set client_name = #{clientName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=DATE},
      article_code = #{articleCode,jdbcType=VARCHAR},
      haed_url = #{haedUrl,jdbcType=VARCHAR},
      def_address_id = #{defAddressId,jdbcType=BIGINT},
      def_address = #{defAddress,jdbcType=VARCHAR}
    where client_id = #{clientId,jdbcType=BIGINT}
  </update>
</mapper>